{% extends 'base.html' %}

{% block title %}Eliminar Proveedor{% endblock %}

{% block content %}
<div class="row mb-3">
    <div class="col">
        <h1>Eliminar Proveedor</h1>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <p class="alert alert-danger">¿Está seguro que desea eliminar el proveedor "{{ object.nombre }}"?</p>
        
        <form method="post">
            {% csrf_token %}
            <div class="d-flex justify-content-between">
                <a href="{% url 'proveedor-list' %}" class="btn btn-secondary">Cancelar</a>
                <button type="submit" class="btn btn-danger">Eliminar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

